.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.navbar {
  flex: 0 0 4em;
}

.content {
  flex: 1;
  background-color: var(--ctp-flavor-base);
  color: var(--ctp-flavor-text);
  padding: 1em;
  overflow-y: scroll;
}
