.container {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  background-color: var(--ctp-flavor-surface0);
}

.navitem {
  display: flex;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  height: 4rem;
  color: var(--ctp-flavor-text);
}

.selected {color: var(--ctp-flavor-accent)}

.navitem:hover {background-color: var(--ctp-flavor-surface1)}

.expand {flex: 1}
