.container {
  background-color: var(--ctp-flavor-mantle);
  padding: 2em;
  border-radius: 1em;
}

.header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
}

.scriptStatus {
  font-weight: bold;
}

.notInstalled {
  color: var(--ctp-flavor-red);
}

.installed {
  color: var(--ctp-flavor-green);
}

.outOfDate {
  color: var(--ctp-flavor-yellow);
}

.detecting {
  color: var(--ctp-flavor-yellow);
}

.bold {
  font-weight: bold;
}

.tile {
  background-color: var(--ctp-flavor-surface0);
  padding: 0.5em;
  display: inline-block;
  margin: 0.25em;
  border-radius: 8px;
}

.saveRedirect {
  padding: 1em;
  background-color: var(--ctp-flavor-surface0);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.saveRedirect > input {
  color: var(--ctp-flavor-text) !important;
  background-color: var(--ctp-flavor-surface1);
  border: none;
  height: 3em;
  margin-right: 1em;
  flex-grow: 1;
  padding-left: 1em;
  border-radius: 8px;
  font-family: var(--font);
}

.saveRedirect > input::placeholder {
  color: var(--ctp-flavor-text);
}

.saveRedirect > button {
  background-color: var(--ctp-flavor-surface1);
  border: none;
  color: var(--ctp-flavor-text);
  font-family: var(--font);
  border-radius: 8px;
  padding: 0 1em;
}

.container > button {
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  border: none;
  border-radius: 1em;
  background-color: var(--ctp-flavor-surface0);
  color: var(--ctp-flavor-text);
  font-family: var(--font);
}
