.container {
  background-color: var(--login-ui-bg);
  padding: 2em;
  border-radius: 1em;
}

.header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
}

.scriptStatus {
  font-weight: bold;
}

.notInstalled {
  color: var(--login-script-notinstalled);
}

.installed {
  color: var(--login-script-installed);
}

.outOfDate {
  color: var(--login-script-outofdate);
}

.detecting {
  color: var(--note-fg);
}

.bold {
  font-weight: bold;
}

.tile {
  background-color: var(--inline-code-bg-color);
  padding: 0.5em;
  display: inline-block;
  margin: 0.25em;
  border-radius: 8px;
}

.saveRedirect {
  padding: 1em;
  background-color: var(--save-redirect-bg);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.saveRedirect > input {
  color: var(--fg-color);
  background-color: var(--save-redirect-input-bg);
  border: none;
  height: 3em;
  margin-right: 1em;
  flex-grow: 1;
  padding-left: 1em;
  border-radius: 8px;
  font-family: var(--font);
}

.saveRedirect > input::placeholder {
  color: var(--fg-color);
}

.saveRedirect > button {
  background-color: var(--save-redirect-input-bg);
  border: none;
  color: var(--fg-color);
  font-family: var(--font);
  border-radius: 8px;
  padding: 0 1em;
}
