.themeButton {
  background-color: var(--ctp-flavor-surface2);
  color: var(--ctp-flavor-text);
  font-family: var(--font);
  padding: 1em;
  border: none;
  z-index: 1;
  border-radius: 8px;
  margin-top: 1em;
}
