.heading {
  font-size: 32px;
  font-weight: bold;
}

.medheading {
  font-size: 28px;
}

.subheading {
  font-size: 20px;
}

.note {
  color: var(--ctp-flavor-yellow);
}

.margin {
  margin: 1em;
}

.expand {
  flex: 9 0;
}

.lastLoginsView {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: var(--ctp-flavor-mantle);
  margin: 1em 0;
  border-radius: 16px;
  row-gap: 1em;
}

.lastLogin {
  display: flex;
  flex-direction: row;
  padding: 1em;
  background-color: var(--ctp-flavor-crust);
  border-radius: 8px;
}

.lastLogin .expand {
  padding: 0 0.5em;
}

.lastLogin span {
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
