.heading {
  font-size: 32px;
  font-weight: bold;
}

.medheading {
  font-size: 28px;
}

.subheading {
  font-size: 20px;
}

.note {
  color: var(--ctp-flavor-yellow);
}

.margin {
  margin: 1em;
}

.expand {flex: 1}

.appView {
  margin-top: 1em;
  background-color: var(--ctp-flavor-mantle);
  padding: 1em;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  grid-row-gap: 1em;
}

.app {
  background-color: var(--ctp-flavor-crust);
  padding: 1em;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  color: var(--ctp-flavor-text);
}

.app .expand {
  padding: 0 0.5em;
}

.app span {
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.app .id {
  min-width: min-content;
}
