.heading {
  font-size: 32px;
  font-weight: bold;
}

.medheading {
  font-size: 28px;
}

.subheading {
  font-size: 20px;
}

.note {
  color: var(--note-fg);
}

.appsView {
  display: grid;
  margin-top: 1em;
  border-radius: 16px;
  padding: 1em;
  grid-auto-rows: 128px;
  grid-row-gap: 1em;
  grid-template-columns: repeat(auto-fill, 128px);
  grid-column-gap: 1em;
  background-color: var(--app-view-bg);
  justify-content: space-between;
}

.instantLoginView {
  margin-top: 1em;
  border-radius: 32px;
  padding: 1em;
  background-color: var(--app-view-bg);
}

.instantLoginHeader {
  font-size: 20px;
  font-weight: bold;
}

.app {
  background-color: var(--app-bg);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 256px;
  overflow: hidden;
}

.appIcon {
  padding-top: 8px;
  width: 64px;
  height: 64px;
}

.appName {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 16px);
  padding: 4px 0;
}

.appId {
  font-size: 8px;
}

.appLogIn {
  height: 32px;
  background-color: var(--app-button);
  border-radius: 8px;
  width: calc(100% - 16px);
  border: none;
  color: var(--fg-color);
  margin-bottom: 8px;
  font-family: var(--font);
}

.appLogIn:hover {
  background-color: var(--app-view-bg);
}

.appLogIn:active {
  background-color: var(--app-view-bg);
}


.classlinkButton {
  height: 3em;
  background-color: var(--app-view-bg);
  border-radius: 8px;
  width: 100%;
  color: var(--fg-color);
  font-family: var(--font);
  border: none;
  flex: 1 1;
  padding: 0 1em;
}
.classlinkButton:hover {
  background-color: var(--app-bg);
}
.classlinkButton:active {
  background-color: var(--app-bg);
}
.classlinkButton:disabled {
  background-color: var(--app-button) !important;
}

.classlinkLink {
  height: 3em;
  background-color: var(--app-view-bg);
  border-radius: 8px;
  width: 100%;
  color: var(--fg-color);
  font-family: var(--font);
  border: none;
  flex: 1 1;
  padding: 0.125em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.classlinkLink:hover {
  background-color: var(--app-bg);
  text-decoration: none;
  cursor: pointer !important;
}
.classlinkLink:active {
  background-color: var(--app-bg);
  text-decoration: none;
  cursor: pointer !important;
}
.classlinkLinkDisabled {
  background-color: var(--app-button) !important;
  pointer-events: none;
}

.flexBtns {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  align-items: center;
}

.flexBtns span {
  flex: 0 0;
}

.expand {
  flex: 9 0;
}

.inputEl {
  color: var(--fg-color);
  background-color: var(--app-view-bg);
  border: none;
  height: 3em;
  padding-left: 1em;
  border-radius: 8px;
  font-family: var(--font);
}
