:root {
  --ctp-flavor-accent: var(--ctp-flavor-mauve);
  --theme-cycler-bg-color: var(--ctp-flavor-overlay0);

  --nprogress-color: var(--ctp-flavor-maroon);
  --nprogress-accent-color: var(--ctp-flavor-peach);
}

* {
  transition: background-color .3s linear, color .1s linear;
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  color: var(--ctp-flavor-blue);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-bottom: 1px solid var(--ctp-flavor-text);
}

#nprogress .bar {
  background: linear-gradient(to right, var(--nprogress-color), var(--nprogress-accent-color)) !important;
  height: 4px !important;
  box-shadow: 0px -1px 6px 1px var(--nprogress-color);
}

#nprogress .peg {
  width: 500px !important;
  transform: rotate(1deg) translate(0px, -4px) !important; 
  box-shadow: 0 0 20px var(--nprogress-accent-color), 0 0 10px var(--nprogress-accent-color) !important;
}
