/* [data-theme="latte"] */
:root {
  --bg-color: var(--ctp-latte-base);
  --fg-color: var(--ctp-latte-text);
  --link-color: var(--ctp-latte-blue);
  --login-ui-bg: var(--ctp-latte-mantle);
  --login-script-notinstalled: var(--ctp-latte-red);
  --login-script-installed: var(--ctp-latte-green);
  --theme-cycler-bg-color: var(--ctp-latte-crust);
  --inline-code-bg-color: var(--ctp-latte-crust);
}

[data-theme='frappe'] {
  --bg-color: var(--ctp-frappe-base);
  --fg-color: var(--ctp-frappe-text);
  --link-color: var(--ctp-frappe-blue);
  --login-ui-bg: var(--ctp-frappe-mantle);
  --login-script-notinstalled: var(--ctp-frappe-red);
  --login-script-installed: var(--ctp-frappe-green);
  --theme-cycler-bg-color: var(--ctp-frappe-crust);
  --inline-code-bg-color: var(--ctp-frappe-crust);
}

[data-theme='macchiato'] {
  --bg-color: var(--ctp-macchiato-base);
  --fg-color: var(--ctp-macchiato-text);
  --link-color: var(--ctp-macchiato-blue);
  --login-ui-bg: var(--ctp-macchiato-mantle);
  --login-script-notinstalled: var(--ctp-macchiato-red);
  --login-script-installed: var(--ctp-macchiato-green);
  --theme-cycler-bg-color: var(--ctp-macchiato-crust);
  --inline-code-bg-color: var(--ctp-macchiato-crust);
}

[data-theme='mocha'] {
  --bg-color: var(--ctp-mocha-base);
  --fg-color: var(--ctp-mocha-text);
  --link-color: var(--ctp-mocha-blue);
  --login-ui-bg: var(--ctp-mocha-mantle);
  --login-script-notinstalled: var(--ctp-mocha-red);
  --login-script-installed: var(--ctp-mocha-green);
  --theme-cycler-bg-color: var(--ctp-mocha-crust);
  --inline-code-bg-color: var(--ctp-mocha-crust);
}

* {
  transition: background-color .3s linear, color .1s linear;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: "Roboto Mono", monospace;
}

a {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  text-decoration: underline;
}

