:root {
  --bg-color: var(--ctp-flavor-base);
  --fg-color: var(--ctp-flavor-text);
  --link-color: var(--ctp-flavor-blue);
  --login-ui-bg: var(--ctp-flavor-mantle);
  --login-script-notinstalled: var(--ctp-flavor-red);
  --login-script-installed: var(--ctp-flavor-green);
  --theme-cycler-bg-color: var(--ctp-flavor-crust);
  --inline-code-bg-color: var(--ctp-flavor-crust);
  --app-view-bg: var(--ctp-flavor-mantle);
  --app-bg: var(--ctp-flavor-crust);
  --app-button: var(--ctp-flavor-base);
  --note-fg: var(--ctp-flavor-yellow);
  --save-redirect-bg: var(--ctp-flavor-crust);
  --save-redirect-input-bg: var(--ctp-flavor-base);
  --footer-color: var(--ctp-flavor-mantle);
  --nprogress-color: var(--ctp-flavor-sky);
  --nprogress-accent-color: var(--ctp-flavor-blue);
}

* {
  transition: background-color .3s linear, color .1s linear;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: "Roboto Mono", monospace;
}

a {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-bottom: 1px solid var(--fg-color);
}

#nprogress .bar {
  background: linear-gradient(to right, var(--nprogress-color), var(--nprogress-accent-color)) !important;
  height: 4px !important;
  box-shadow: 0px -1px 6px 1px var(--nprogress-color);
}

#nprogress .peg {
  width: 500px !important;
  transform: rotate(1deg) translate(0px, -4px) !important; 
  box-shadow: 0 0 20px var(--nprogress-accent-color), 0 0 10px var(--nprogress-accent-color) !important;
}
